html {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

*, ::after, ::before {
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
}

BODY {
	font-family: 'Lato', sans-serif;
	margin: 20px;
	line-height: 140%;
	background-color: #cdd;
	background-image: url(http://kamilbaranski.com/pliki/youcode/currency-calculator/images/online-currency-exchange-benefits.jpg);
	background-size: 200%;
	color: #333;
}

A:LINK, A:VISITED {
	color: navy;
}

A:HOVER {
	color: black;
	text-decoration: none;
}

A:ACTIVE {
	color: black;
}

.currencyCalculator {
	margin: 0 auto;
	max-width: 620px;
	background-color: #fffb;
	box-shadow: 0px 0px 10px #fff7;
	padding: 20px 40px 40px;
}

.currencyCalculator__table {
	border-collapse: collapse;
	text-align: center;
	margin: 10px 0px;
	background-color: #eff7;
	width: 100%;
}

.currencyCalculator__tableCell {
	margin: 0px;
	padding: 20px 10px;
	border: 3px inset #9aa;
}

.currencyCalculator__tableHeader {
	background-color: #dee7;
}

.currencyCalculator__select, .currencyCalculator__input {
	background-color: #8887;
	padding: 5px;
	width: 120px;
}

.currencyCalculator__footer {
	border-top: 1px dotted black;
	margin-top: 20px;
	background-color: #effd;
	padding: 5px;
	font-size: 80%;
}

.currencyCalculator__p {
	margin: 0px;
	padding: 0px 2px;
}

.currencyCalculator--warning {
	background-color: red;
	color: white;
	font-weight: bold;
}

.currencyCalculator__button {
	margin: 10px 0px 0px auto;
	padding: 10px;
	background-color: #eff7;
	border-color: #9aa;
	border-width: 3px;
	display: block;
}

.currencyCalculator__button:HOVER {
	background-color: #f7ffffe0;
}

.currencyCalculator__button:ACTIVE {
	background-color: #cdd7;
}